{% extends 'base.html' %} 
{% block content %}
<h1>About the Plant Collector</h1>
<hr />
<p class="page-content">
    The Plant Collector is a web application designed to help plant enthusiasts manage their plant collections. 
    Users can create an account, add plants to their collection, and keep track of important information about each plant, such as watering schedules and care instructions. 
    The app also allows users to share their collections with friends and discover new plants to add to their collection. 
    Whether you're a seasoned plant collector or just starting out, the Plant Collector is the perfect tool to help you stay organized and connected with other plant lovers.
</p>
{% endblock %}
