{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/fertilizer/fertilizer-detail.css' %}" />
{% endblock %} 
{% block content %}

<div class="card" style="border-color: {{ fertilizer.color }}">
  <div class="card-bg" style="background-color: {{ fertilizer.color }}"></div>
  <div class="card-content">
    <h2>{{ fertilizer.name }}</h2>
    <p> {{ fertilizer.get_fert_type_display }} fertilizer</p>
    <p>A {{ fertilizer.color }} fertilizer</p>
  </div>
</div>
<a href="{% url 'fertilizer-update' fertilizer.id %}" class="btn warn">Edit</a>
<a href="{% url 'fertilizer-delete' fertilizer.id %}" class="btn danger">Delete</a>

{% endblock %}
