{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/plants/plant-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="plant-container">
  <div class="plant-img">
    <img src="{% static 'images/plant-1.svg' %}" alt="A plant image" />
  </div>
  <div class="plant-details">
    <h1>{{ plant.name }}</h1>
    {% if plant.age > 0 %}
      <h2>A {{ plant.age }} year old {{ plant.species }}</h2>
    {% else %}
      <h2>A young {{ plant.species }} plant.</h2>
    {% endif %}
    <p>{{ plant.description }}</p>
       <div class="plant-actions">
    <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
    <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
  </div>
     </div>
     </section>
     <section>
  <div class="feedings-toy-container">
    {% include 'my_app/partials/plant_watering.html' %}
    {% include 'my_app/partials/plant_fertilizer.html'%}
  </div>
</section>
{% endblock %}